<%- include("partials/header", { title: "Dispatch" , pageCSS: "dispatch" }) %>
    <!-- Page Content -->
    <div id="content">
        <div class="container mt-4">
            <h4>Dispatch section --------- </h4>
        </div>
    </div>

    <%- include("partials/footer") %>
        <script src="assets/js/dispatch.js"></script>