
body {
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
  box-sizing: border-box;
}

#monthly-coal-ob-line-chart {
  width: 100% !important;
  height: 400px !important;
}

#container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

.chart-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 8px;
}

.bar-chart-card {
  border-radius: 20px;
  padding: 20px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
}

.bar-chart-card .card-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #333;
}

.bar-chart-card .form-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.bar-chart-card .form-select {
  max-width: 250px;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
}


#pit-wise-coal-bar-chart {
  flex-grow: 1;
  width: 100% !important;
  height: 100% !important;
  display: block;
 background-color: linear-gradient(to right, #f5f7fa, #c3cfe2);
  border-radius: 8px;
  margin-top: 20px;
  overflow: hidden;
}


canvas {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}


.icon {
  float: right;
  font-size: 500%;
  position: absolute;
  top: 0rem;
  right: -0.3rem;
  opacity: 0.16;
}


.grey-dark {
  background: #495057;
  color: #efefef;
}

.red-gradient {
  background: linear-gradient(180deg, rgba(207,82,82,1) 0%, rgba(121,9,9,1) 80%);
  color: #fff;
}

.red {
  background: #a83b3b;
  color: #fff;
}

.purple {
  background: #886ab5;
  color: #fff;
}

.orange {
  background: #ffc241;
  color: #fff;
}

.green {
  background-color: lightgreen;
  color: #fff;
}

.kpi-card {
  overflow: hidden;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
  display: inline-block;
  padding: 1em;
  border-radius: 0.3em;
  font-family: sans-serif;
  width: 240px;
  min-width: 180px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 10px;
}

.card-value {
  display: block;
  font-size: 200%;
  font-weight: bolder;
}

.card-text {
  display: block;
  font-size: 70%;
  padding-left: 0.2em;
}

.line-chart-card .form-label {
  font-size: 14px;
  margin-bottom: 8px;
}

.line-chart-card .form-select {
  max-width: 250px;
  padding: 6px 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
 background-color: linear-gradient(to right, #f5f7fa, #c3cfe2);
}
